body{
    overflow-x: hidden;
    background-image: url('../../img/gradient-gray-abstract-background-blurred-smooth-gray-color-wallpape-free-vector.jpg');
}

.containerHome{
    background-image: url('../../img/gradient-gray-abstract-background-blurred-smooth-gray-color-wallpape-free-vector.jpg');
    object-fit: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

